/* フォント */

body{
    font-family: sans-serif;
}

/* ヘッダー */

header{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header p{
    font-size: 24px;
    margin-right: 80px;
}

/* メインコンテンツ */

article{
    width: 1000px;
    margin: 0 auto;
}
.title{
    padding: 30px;
    border-radius: 50px;
    background-color: #F5DA81;
}
.form{
    width: 742px;
    margin: 0 auto;
}
.release{
    display: flex;
    justify-content: space-between;
}
.release th{
    font-weight: normal;
}
.set span{
    padding: 10px;
}
.onoff {
    display: none;
}
.onoff + label:before,
.onoff + label:after {
  display: inline-block;
  margin: 5px 0 0 0;
  padding: .2em .5em;
  width: 2em;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
.onoff + label:before {
  content: "OFF";
  background: #DEDEDE;
  color: #000000;
  border-top-left-radius: .3em;
  border-bottom-left-radius: .3em;
}
.onoff + label:after {
  content: "ON";
  background: #ABABAB;
  color: #ABABAB;
  border-top-right-radius: .3em;
  border-bottom-right-radius: .3em;
}
.onoff:checked + label:before {
  background: #459ACA;
  color: #459ACA;
}
.onoff:checked + label:after {
  background: #73CAFF;
  color: #FFFFFF;
}

/* フッター */

.footer_background{
    padding: 50px;
    background-color: #F2F2F2;
}

footer ul{
    display: flex;
    justify-content: center;
}
footer ul li{
    font-size: 20px;
    list-style: none;
    margin: 0 20px;
}
footer ul li a{
    color: #A4A4A4;
    text-decoration: none;
}

footer ul li a:hover{
    text-decoration: underline;
}