/* フォント */

body{
    font-family: sans-serif;
}

/* ヘッダー */

header{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header p{
    font-size: 24px;
    margin-right: 80px;
}

/* メインコンテンツ */

article{
    width: 1000px;
    margin: 0 auto;
}
.menu_button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.menu_button li{
    list-style: none;
    width: 100px;
    position: relative;
    width: 200px;
    height: 300px;
}
.menu_button li:hover{
    opacity: 0.7;
}
.menu_button li a{
    color: #000000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.inner{
    position: absolute;
    top: 28%;
    left: 10%;
}
.inner p{
    font-size: 20px;
}
.red{
    background-color: #F78181;
}
.yellow{
    background-color: #F3F781;
}
.blue{
    background-color: #5882FA;
}
.purple{
    background-color: #9F81F7;
}
.about_menu{
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.about_menu p{
    font-size: 20px;
    padding: 10px 10px;
    margin: 10px 50px;
    width: 300px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.about_menu p a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: #FFFFFF;
    background-color: #FFBF00;
    text-decoration: none;
}
.about_menu p a:hover{
    color: #FFBF00;
    background-color: #FFFFFF;
    border: solid 1px #FFBF00;
}

/* フッター */

.footer_background{
    padding: 50px;
    background-color: #F2F2F2;
}

footer ul{
    display: flex;
    justify-content: center;
}
footer ul li{
    font-size: 20px;
    list-style: none;
    margin: 0 20px;
}
footer ul li a{
    color: #A4A4A4;
    text-decoration: none;
}

footer ul li a:hover{
    text-decoration: underline;
}